.login{
    text-align: center;
    justify-content: center;
}




.login p{
    color: #aaa;
}

.login h1,.login p{
    justify-content: center;
    align-items: center;
    display: flex;
}

.login p{
    margin-top: 1rem;
    color: black;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}


.login form {
    background-color:#838080;
    padding: 1rem;
    margin-top: 2em;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0,0.5) 2px 3px 15px 1px;
}

.login span{
    margin-bottom: 1rem;
}